
* {
    box-sizing:border-box;
}

li {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

ul {
    list-style-type: none;
}


body {
    font-family: 'Oswald', sans-serif;
    background-image: url("../img/bg1.jpg");

}

main {
    width: 500px;
    height: 500px;
    margin: 100px auto;
}


.month {
    position: relative;
    height: 70px;
    padding-top: 10px;
    width: 500px;
    background: #ff5151;
}

.month div {
    margin: 0;
    padding: 0;
}

.month div span {
    display: inherit;
    text-align: center;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;

}

.month .prev {
    float: left;
    padding-top: 10px;
    display: block;
    padding-left: 15px;
}

.month .next {
    float: right;
    padding-top: 10px;
    padding-right: 15px;

}
.month .center {
    padding-top: 10px;
    margin: 0 auto;



}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
    color: #777;
}
.days li:hover{
    color: #ff5151;
}

.days li .active {
    border-radius: 100%;
    padding: 10px;
    background: #ff5151;
    color: white !important;
}



#calendar{
    box-shadow: 0 0 4px 0 #5a5a5a;
}


.bookmark {
    background-image: url("../img/bdg.png");
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}


